@using AppFramework.Authorization
@using AppFramework.Web.Areas.App.Models.AbpVersions
@using AppFramework.Web.Areas.App.Startup
@model AbpVersionsViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.AbpVersions;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/AbpVersions/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

                <abp-page-subheader title='@L("AbpVersions")' description='@L("AbpVersionsHeaderInfo")'>
                     
                     @if (IsGranted(AppPermissions.Pages_AbpVersions_Create))
                     {
                         <button id="CreateNewAbpVersionButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewAbpVersion")</button>                
                     }
                </abp-page-subheader>
            
<div class="@(await GetContainerClass())">   
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">                        
                        
                        
                <div class="my-3">
                    <div class="input-group">
                        <input type="text" id="AbpVersionsTableFilter" class="form-control" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                        <button id="GetAbpVersionsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>                        
                    </div>
                </div>
            
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						
					</div>


							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="NameFilterId">@L("Name")</label>
									<input type="text" class="form-control" name="nameFilter" id="NameFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="VersionFilterId">@L("Version")</label>
									<input type="text" class="form-control" name="versionFilter" id="VersionFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="DownloadUrlFilterId">@L("DownloadUrl")</label>
									<input type="text" class="form-control" name="downloadUrlFilter" id="DownloadUrlFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="ChangelogURLFilterId">@L("ChangelogURL")</label>
									<input type="text" class="form-control" name="changelogURLFilter" id="ChangelogURLFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<label class="form-label" for="IsEnableFilterId">@L("IsEnable")</label>
								<select class="form-select" name="IsEnableFilter" id="IsEnableFilterId">
									<option value="-1">@L("All")</option>
									<option value="0">@L("False")</option>
									<option value="1">@L("True")</option>
								</select>
                            </div>
							<div class="col-md-3">
								<label class="form-label" for="IsForcedFilterId">@L("IsForced")</label>
								<select class="form-select" name="IsForcedFilter" id="IsForcedFilterId">
									<option value="-1">@L("All")</option>
									<option value="0">@L("False")</option>
									<option value="1">@L("True")</option>
								</select>
                            </div>


                </div>
                <div class="row my-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            <div class="row align-items-center">
                <table id="AbpVersionsTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                    <thead>
                        <tr>
                            <th></th>
                            
                            <th>@L("Actions")</th>
								<th>@L("Name")</th>
								<th>@L("Version")</th>
								<th>@L("DownloadUrl")</th>
								<th>@L("ChangelogURL")</th>
								<th>@L("IsEnable")</th>
								<th>@L("IsForced")</th>                            
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>
